header{
  height:210px;
  width:1000px
}
.header {
  height: 200px;
  width:1000px;
  background-color: orange;
  border-radius: 100px;
  box-shadow: 20px 20px;
}

.header h1{
  text-align: center;
  padding-top: 50px;
  font-size: 100px;
  padding-bottom:0px;
  text-shadow: 4px 4px 1px lightyellow,
               7px 7px 1px greenyellow;

}

h1{
  text-shadow: 3px 3px 1px lightyellow;


}


main{
  height:4200px;
  width:1000px;

}

.about h1{
  text-align: center;
}

.about::first-line{
  text-align: center;
  font-size:40px;
  font-weight: bolder;

}



.about{
  height: 420px;
  width:1000px;
  background-color: orange;
  border-radius: 100px;
  box-shadow: 20px 20px;
  margin-top: 20px;


}

.about p{
  font-size: 33px;
  text-align: center;
  padding:30px;
}


.music{
  height: 310px;
  width:1000px;
  background-color: orange;
  border-radius: 100px;
  box-shadow: 20px 20px;
  text-align: center;
  margin-bottom: 20px;

}

.music li{
  font-size: 30px;
}

.qua{
  height: 180px;
  width:1000px;
}

.quabox{
  height: 150px;
  width:1000px;
  background-color: orange;
  border-radius: 100px;
  box-shadow: 20px 20px;
  text-align: center;
  font-size: 22px;

}

.info{
  height:780px;
  width:980px;

}

.infobox{
  height: 770px;
  width:980px;
  background-color: orange;
  box-shadow: 20px 20px;
  text-align: left;
  padding:10px;

}
.phone {
  padding: 15px;

  font-size: 30px;
}

.phone::before{
  content: "\2706"
}
.message{
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  box-shadow:none;
  position:relative;
  top:5px;
}


:link{
  color:blue;
}

:visited{
  color:red;
}

a:hover{
  text-decoration: none;
  background-color:gray ;
}

:focus{
  background-color: yellow;
}

.facebook {
  background-color: #3b5998;


}

.twitter {
  background-color: #55acee;

}

.line{
  background-color: green;

}

.btn{
  display:inline-block;
  padding:5px;
  margin:8px;
  color:white;
}
